h1{
    font-family: cursive;
    font-size: 32px;
    color: rgb(199, 2, 2);
    stroke: black;
    text-align: center;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    color: #f5e581;
    font-size: 22px;
    text-align: center;
}
.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.countries {
    fill: #fff;
    stroke: #CCC;
    stroke-width: 2px;
}


.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

.states {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.numbers {
    fill: white;
    font-family: Tahoma;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    fill: #faf9f9;
    
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Tahoma;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 180px;
    left: 260px;
    z-index: 10;
    font-family: Lucida Sans;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
    color: #575757;
}

.footer {
    position: absolute;
    top: 740px;
    left: 120px;
    z-index: 10;
    font-family: Verdana;
    font-size: 10px;
    padding: 2px;
    color: #fff;
}

.infoPanel {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 170px; /* Adjust this to place it below the bar chart */
    left: calc(52%); /* Align to match the bar chart's position */
    width: 40%; /* Optional: limit the width to the bar chart */
    text-align: left;
}

option {
    font-weight: normal;
}



.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: yellow;
    text-align: center;
    background-color: #000;
    border: solid thin yellow;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana;
    font-size: 14px;
}


.labelname{
    color: green;
    font-size: 18px;
}

body{
    background-color: rgb(0, 0, 0);
}